[submodule "miniupnp"]
	path = miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "cryptopp"]
	path = cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "lmdb"]
	path = lmdb
	url = https://github.com/mikroncoin/lmdb.git
	branch = lmdb_0_9_21_mikron
[submodule "phc-winner-argon2"]
	path = phc-winner-argon2
	url = https://github.com/mikroncoin/argon2-hash.git

#[submodule "beast"]
#	path = beast
#	url = https://github.com/boostorg/beast.git
